<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tweet Comp Bot</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Twitter Competition Bot</h1>
        <!--<p class="lead"></p>-->
        <!--<hr class="my-4">-->
        <!--<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
        <!--<p class="lead">-->
        <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
        <!--</p>-->
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Twitter API status</h4>
                    <h6 class="card-subtitle mb-2 text-muted">The rate and status of the twitter API for the bot</h6>
                    <p class="card-text">
                    <div id="status"></div>
                    </p>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Searching</h4>
                    <h6 class="card-subtitle mb-2 text-muted">What the bot is currently searching for</h6>
                    <p class="card-text">
                    <div id="searching"></div>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Next Tweet in Queue</h4>
                    <h6 class="card-subtitle mb-2 text-muted">This is the next tweet to be sent</h6>
                    <p class="card-text">
                    <div id="sending"></div>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


<script>
    $( document ).ready(function() {
        setInterval("updateTweetQueue()",1000);
        setInterval("updateQueueStatus()",1000);
        setInterval("updateSearchStatus()",1000);
    })

    var $sending_container = $('#sending');
    var $status_container = $('#status');
    var $searching_container = $('#searching');

    function updateTweetQueue() {
        $.ajax({
            type: "GET",
            url: "/tweetbot/api/v1.0/queue",
            success: function(data){
                if (data.backlog.length > 0) {
                    var tweeting = data.backlog[0].json.text;
                    $sending_container.html(tweeting)
                } else {
                    $sending_container.html("Queue empty")
                }
            }
        });
    }

    function updateQueueStatus() {
        $.ajax({
            type: "GET",
            url: "/tweetbot/api/v1.0/status",
            success: function(data){
                $status_container.html(data.state + " : " +  data.rate)
            }
        });
    }

    function updateSearchStatus() {
        $.ajax({
            type: "GET",
            url: "/tweetbot/api/v1.0/search-status",
            success: function(data){
                if ( data.searching_status != "False") {
                    $searching_container.html("Searching... " + data.searching_status )
                } else {
                    $searching_container.html("Not currently Searching")
                }

            }
        });
    }
</script>
</body>
</html>