<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tweet Comp Bot</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>
    <div id="status"></div>
    <div id="sending"></div>

    <script>
        $( document ).ready(function() {
            setInterval("updateTweetQueue()",1000);
            setInterval("updateQueueStatus()",1000);
        })

        var $sending_container = $('#sending');
        var $status_container = $('#status');

        function updateTweetQueue() {
          $.ajax({
           type: "GET",
           url: "/tweetbot/api/v1.0/queue",
           success: function(data){
               var tweeting = data.backlog[0].json.text;
               $sending_container.html(tweeting)
           }
         });
        }

        function updateQueueStatus() {
          $.ajax({
           type: "GET",
           url: "/tweetbot/api/v1.0/status",
           success: function(data){
               $status_container.html(data.state + " : " +  data.rate)
           }
         });
        }
    </script>
</body>
</html>